h2 {
  width: 100%;
  text-align: center;
}
.Practical {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.Practical .description {
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(74, 117, 108, 0.21);
  width: 20%;
  padding: 2%;
}
.Practical .photos {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

.Practical .intro {
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(74, 117, 108, 0.21);
  width: 30%;
  padding: 2%;
  margin: 0 0 2em 0;
}

.Practical .photos img {
  width: 30%;
  margin: 1%;
  transition-duration: 0.2s;
  cursor: pointer;
}
.Practical .photos img:hover {
  scale: 110%;
}
.Practical .photoDesc {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .Practical {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Practical .intro {
    order: 1;
    width: 90%;
  }
  .Practical .photos {
    order: 1;
    width: 90%;
  }
  .Practical .description {
    order: 3;
    width: 90%;
  }
}
