.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 1.5rem;
  background-color: #4a756c;
  height : 80px;
  font-family: 'Oswald', sans-serif;
}

.header a {
  text-decoration: none;
}

.header_brand {
  display: flex;
  justify-content: space-around;
}

.logoRegionSud {
  width : 180px;
  height : 50px;
  padding : 0 2%;
  margin : auto 0;
}

.nav-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_nav {
  padding-inline-start : 0;
  margin-left: auto;
  padding-right: 2%;
  list-style: none;
  display: flex;
  z-index : 1;
}

.header_nav a:hover {
  text-decoration: underline;
}

.header_nav li {
  margin-left : 1em;
}

.header li a {
  color: white;
}

.header h1 {
  color: #fff;
  margin : 0;
}

 .burger_menu {
   cursor: pointer;
   margin-left: auto;
   margin-right: 2%;
   font-size : 2em;
   display : none;
 }

 .burger_ckbox {
   display : none;
 }

 .burger_ckbox:checked ~ .header_nav {
   display: inherit;
 }

@media screen and (max-width: 940px) {
  .burger_menu {
    display: inherit;
  }
  .header_nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top:90px;
    right: 0;
    background-color: #F6F6F7;
    margin: 0;
    width : 70%;
    height : auto;
    padding: 0;
  }
  .header_nav li a {
  color : black;
  padding : 1em 0;
  padding-left: 1.2em;
  display : block;
  }
  .header_nav li {
    border-bottom : 1px solid black;
    margin: 0;
    width : 80%;
    margin:0 auto;
    text-align: left;
  }
  .header_nav li:last-child {
    border-bottom: 0;
  }

  .header_nav li:hover {
  background-color: #d1d1d3;
  }
}

@media screen and (max-width: 1006px) {
  .header h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 568px) {
  .header h1 {
    font-size: 1em;
  }
}
