.Ressource {
  width: 80%;
  margin: 5vh auto 5vh auto;
  min-height : 72vh;
}
.Ressource h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 1em 0;
}
.Ressource h3 {
  color: #4a756c;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  width: 100%;
  font-size: 1.4rem;
}
.Ressource .documentations,
.Ressource .sites {
  width: 100%;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Ressource .documentations a,
.Ressource .sites a {
  background-color: #4a756c;
  background-image: url("../image/topographic-map-pattern.png");
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  transition-duration: 0.4s;
  margin: 0.5rem;
  word-break: break-word;
}
.Ressource .documentations a:hover,
.Ressource .sites a:hover {
  filter: saturate(300%);
  -webkit-filter: saturate(300%);
  -moz-filter: saturate(300%);
  -o-filter: saturate(300%);
  -ms-filter: saturate(300%);
}
.Ressource .documentations a:hover,
.Ressource .sites a:hover {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
}

.Ressource .documentations a {
  width: 140px;
  height: 190px;
  font-size: 1.5rem;
}

.Ressource .sites a {
  background-color: #ca7d30;
  font-size: 1.1rem;
}

.Ressource .sites a:nth-child(2n) {
  background-color: #c56e17;
}
.Ressource .sites a:nth-child(3n) {
  background-color: #925619;
}

.Ressource .video a {
  background-color: #b72055;
}

.Ressource .video a:nth-child(n) {
  background-color: #b72055;
}

.Ressource .video a:nth-child(2n) {
  background-color: #9c1c49;
}

.Ressource .documentations a:nth-child(2n) {
  background-color: #6b998e;
}
.Ressource .documentations a:nth-child(3n) {
  background-color: #41645b;
}

@media only screen and (max-width: 700px) {
  .Ressource {
    width: 100%;
  }
  .Ressource h3 {
    text-align: center;
  }
}


.toggle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: #4a756c;
  font-weight: bold;
}

.toggle p {
  margin: 0;
}

/* switch */
#switch {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
}

.Ressource label {
  cursor: pointer;
  width: 60px;
  height: 30px;
  margin: 0 0.5em 0 0.5em;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.Ressource label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

#switch:checked + label {
  background: #4a756c;
}

#switch:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
